<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fantacg.project.mapper.SettingDataMapper">

    <!--  批量添加答题记录  -->
    <insert id="addSettingData" parameterType="java.util.List">
        INSERT INTO tb_setting_data(`id`, `account_id`, `platform_id`, `table_name`, `column_name`, `in_date`)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.accountId}, #{item.platformId},#{item.tableName},#{item.columnName} , NOW())
        </foreach>
    </insert>

    <select id="pullSettingData" parameterType="java.lang.String" resultType="java.util.HashMap">
        select ${columnName} from ${tableName}
    </select>

</mapper>